@charset "utf-8";
/* CSS Document */

* {
  box-sizing: border-box;
}

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}

body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}

ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}

a img{
	border: none 0 #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */

nav {
  width: 100%;
  height: 4em;
  padding-top: 1em;
  background-color: #252831;
  text-align:center;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #f3f3f3;
  font-size: 17px;
  margin: 0;
  width: 50%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 7em;
  background-color: #3397DB;
  align-items: center;
  padding: 1em;
  display: inline-block;
}

.filter-options h2 {
  color: white;
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  padding: 0;
  text-align: center;
  overflow: hidden;
  width: 100%;
}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  display: inline-block;
  margin: 1em;
  text-align: center;
  padding: 10px 35px 25px;
  max-height: 500px;
  width: 20%;
  height: auto;
}

#restaurants-list .restaurant-img {
  background-color: transparent;
  display: block;
  margin: 0;
  padding-top: 1em;
  width: 100%;
  height: auto;
}

#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

.inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
}

#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
	width: 90%;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}

#restaurant-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 100px 40px 30px;
  width: 50%;
}

#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 40px 40px 30px;
  width: 50%;
}

#reviews-container {
  padding: 30px 40px 80px;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#reviews-list li p {
  margin: 0 0 10px;
}

#restaurant-hours td {
  color: #666;
}

.review-restaurant-header {
  background-color: #000;
  color: #fff;
  width: 100%;
  padding: 1em;
  border-top-left-radius: 1.5em;
}

.review-restaurant-name {
  height: 100%;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.review-restaurant-date {
  float: right;
  height: 100%;
  color: #dddddd;
  font-weight: bold;
}

.review-restaurant-content {
  background-color: #fff;
  padding: 1em;
  border-bottom-right-radius: 1.5em;
}

.review-restaurant-rating {
  color: #fff;
  background-color: orange;
  text-transform: uppercase;
  padding: 0.25em;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 0.25em;
  display: inline-block;
}


/*media*/

@media (max-width: 1366px) {

  #restaurants-list li {
    width: 30%;
    height: 450px;
  }

}

@media (max-width: 1024px) {

  .filter-options {
    height: 110px;
  }

  #restaurants-list li {
    width: 45%;
    height: 475px;
  }

}

@media (max-width: 768px) {

  .filter-options {
    height: 110px;
  }

  #restaurants-list li {
    width: 45%;
    margin: 10px;
    min-height: 380px;
    max-height: 400px;
  }

  #restaurants-list .restaurant-img {
    max-height: 200px;
  }

  #breadcrumb {
    padding: 0.5em 1.5em 1em;
    list-style: none;
    font-size: 1.5em;
    margin: 0;
    width: 100%;
  }

  .inside header {
    width: 100%;
  }

  .inside #map-container {
    background: #808080 none repeat scroll 0 0;
    width: 100%;
    position: relative;
    height: 250px;
    padding-top: 3.75em;
    z-index: 500;
  }

  .inside #footer {
    width: 100%;
    position: relative;
  }

  #restaurant-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    padding: 80px 20px 20px;
    width: 100%;
    position: relative;
  }

  #reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    padding: 20px 20px 20px;
    width: 100%;
    position: relative;
  }

  #reviews-container h2 {
    color: #f58500;
    font-size: 24pt;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1pt;
  }

}

@media (max-width: 425px) {

  h1 {
    margin: 0 0 26px;
  }

  nav {
    height: 6em;
    width: 100%;
  }

  .filter-options {
    height: 11em;
  }

  .filter-options select {
    max-width: none;
    width: 90%;
  }

  #restaurants-list li {
    width: 90%;
    min-height: 380px;
    max-height: 400px;
    padding: 10px 35px 25px;
    margin: 10px;
  }

  #restaurants-list .restaurant-img {
    max-height: 200px;
  }

  #breadcrumb {
    padding: 0.5em 1.5em 1em;
    list-style: none;
    font-size: 1.5em;
    margin: 0;
    width: 100%;
  }

  .inside header {
    width: 100%;
  }

  .inside #map-container {
    background: #808080 none repeat scroll 0 0;
    width: 100%;
    position: relative;
    height: 250px;
    padding-top: 3.75em;
    z-index: 500;
  }

  .inside #footer {
    width: 100%;
    position: relative;
  }

  #restaurant-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    padding: 80px 20px 20px;
    width: 100%;
    position: relative;
  }

  #reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    padding: 20px 20px 20px;
    width: 100%;
    position: relative;
  }

  #reviews-container h2 {
    color: #f58500;
    font-size: 24pt;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1pt;
  }

}
